.productListItem {
    padding: 20px;
    background-color: rgb(231, 231, 231);
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    display: grid;
    grid-template-areas:
        "image details price"
        "image details price"
        "image details button";
}

@media (max-width: 576px) {
    .productListItem {
        padding: 10px;
        grid-template-areas:
            "image  price"
            "image  button"
            "details details";
    }
}

.addToCartButton {
    width: 120px;
    font-size: var(--font-sm);
    background-color: transparent;
    border: 2px solid var(--foreground);
    border-radius: var(--radius);
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    text-transform: uppercase;
    font-weight: bold;
    justify-self: end;
    align-self: end;
    grid-area: button;
}

@media (max-width: 576px) {
    .addToCartButton {
        width: 80px;
        padding: 2px;
    }
}

.addToCartButton:hover {
    background-color: var(--foreground);
    color: var(--color-button-text-hover);
}