:root {
  --background: #f3f3f3;
  --foreground: #161718;
  
  --color-button-text-hover: #f7f7f7;

  --font-sm: 14px;
  --font-md: 16px;
  --font-lg: 22px;

  --radius: 10px;

  --shadow: 0 2px 5px 0px rgb(20, 20, 20);
}

html {
  height: 100%;
}

html,
body {
  max-width: 100vw;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
